<aside
  id="sidebarOffcanvas"
  class="sidebar offcanvas-md offcanvas-start d-flex flex-column"
  tabindex="-1"
  aria-labelledby="sidebarOffcanvasLabel"
>
  <div class="sidebar-header">
    <div class="d-flex align-items-center w-100">
      <div class="system-icon me-2">
        <i class="fa-solid fa-gamepad"></i>
      </div>

      <div class="system-name" id="sidebarOffcanvasLabel">RDT Games</div>
    </div>
  </div>

  <nav class="sidebar-nav flex-grow-1">
    <ul class="sidebar-menu list-unstyled mb-0">
      <li class="header">
        <span class="header-chip">MENU NAVEGAÇÃO</span>
      </li>

      <li class="treeview">
        <a
          routerLink="/home"
          routerLinkActive="active"
          class="d-flex align-items-center nav-link px-3"
        >
          <i class="fa-solid fa-house me-2"></i>
          <span>Home</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
