<aside
  id="sidebarOffcanvas"
  class="sidebar offcanvas-md offcanvas-start d-flex flex-column"
  [class.sidebar-collapsed]="collapsed"
  tabindex="-1"
  aria-labelledby="sidebarOffcanvasLabel"
>
  <div class="sidebar-header">
    <div class="d-flex align-items-center w-100">
      <div class="system-icon me-2">
        <i
          [ngClass]="systemSettingService.systemIcon"
          [class.fa-brands]="
            systemSettingService.systemIcon === 'fa-playstation' ||
            systemSettingService.systemIcon === 'fa-xbox'
          "
          [class.fa-solid]="
            systemSettingService.systemIcon !== 'fa-playstation' &&
            systemSettingService.systemIcon !== 'fa-xbox'
          "
          aria-hidden="true"
        ></i>
      </div>

      <div class="system-name" id="sidebarOffcanvasLabel">
        {{ systemSettingService.systemName }}
      </div>
    </div>
  </div>

  <nav class="sidebar-nav flex-grow-1">
    <ul class="sidebar-menu list-unstyled mb-0">
      <li class="header">
        <span class="header-chip">MENU NAVEGAÇÃO</span>
      </li>

      <li class="treeview">
        <a
          routerLink="/home"
          routerLinkActive="active"
          class="d-flex align-items-center nav-link px-3"
        >
          <i class="fa-solid fa-house me-2"></i>
          <span>Home</span>
        </a>
      </li>

      <li class="treeview">
        <a
          class="d-flex align-items-center justify-content-between nav-link px-3 collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#submenuAdministracaoDesktop"
          *ngIf="hasAuthority('USER_READ') || hasAuthority('ROLE_READ')"
        >
          <span class="d-flex align-items-center">
            <i class="fa-solid fa-user-shield me-2"></i>
            <span>Administração</span>
          </span>

          <span>
            <i class="fa-solid fa-caret-right submenu-toggle-icon closed"></i>
            <i class="fa-solid fa-caret-down submenu-toggle-icon open"></i>
          </span>
        </a>

        <ul
          class="treeview-menu collapse list-unstyled mb-0"
          id="submenuAdministracaoDesktop"
        >
          <li>
            <a
              routerLink="/users"
              routerLinkActive="active"
              class="d-flex align-items-center nav-link px-4"
            >
              <i class="fa-solid fa-user me-2"></i>
              <span>Usuários</span>
            </a>
          </li>
          <li>
            <a
              routerLink="/roles"
              routerLinkActive="active"
              class="d-flex align-items-center nav-link px-4"
              *ngIf="hasAuthority('ROLE_READ')"
            >
              <i class="fa-solid fa-user-shield me-2"></i>
              <span>Perfis</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="treeview">
        <a
          class="d-flex align-items-center justify-content-between nav-link px-3 collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#submenuOrganizationDesktop"
          *ngIf="
            hasAuthority('CUSTOMER_READ') ||
            hasAuthority('DEPARTMENT_READ') ||
            hasAuthority('EMPLOYEE_READ') ||
            hasAuthority('POSITION_READ') ||
            hasAuthority('SUPPLIER_READ')
          "
        >
          <span class="d-flex align-items-center">
            <i class="fa-solid fa-building me-2"></i>
            <span>Organização</span>
          </span>

          <span>
            <i class="fa-solid fa-caret-right submenu-toggle-icon closed"></i>
            <i class="fa-solid fa-caret-down submenu-toggle-icon open"></i>
          </span>
        </a>

        <ul
          class="treeview-menu collapse list-unstyled mb-0"
          id="submenuOrganizationDesktop"
        >
          <li>
            <a
              routerLink="/customers"
              routerLinkActive="active"
              class="d-flex align-items-center nav-link px-4"
              *ngIf="hasAuthority('CUSTOMER_READ')"
            >
              <i class="fa-solid fa-user-shield me-2"></i>
              <span>Clientes</span>
            </a>
          </li>
          <li>
            <a
              routerLink="/employees"
              routerLinkActive="active"
              class="d-flex align-items-center nav-link px-4"
              *ngIf="hasAuthority('EMPLOYEE_READ')"
            >
              <i class="fa-solid fa-user-group me-2"></i>
              <span>Funcionários</span>
            </a>
          </li>
          <li>
            <a
              routerLink="/departments"
              routerLinkActive="active"
              class="d-flex align-items-center nav-link px-4"
              *ngIf="hasAuthority('DEPARTMENT_READ')"
            >
              <i class="fa-solid fa-building-user me-2"></i>
              <span>Departamentos</span>
            </a>
          </li>
          <li>
            <a
              routerLink="/positions"
              routerLinkActive="active"
              class="d-flex align-items-center nav-link px-4"
              *ngIf="hasAuthority('POSITION_READ')"
            >
              <i class="fa-solid fa-id-badge me-2"></i>
              <span>Cargos</span>
            </a>
          </li>
          <li>
            <a
              routerLink="/suppliers"
              routerLinkActive="active"
              class="d-flex align-items-center nav-link px-4"
              *ngIf="hasAuthority('SUPPLIER_READ')"
            >
              <i class="fa-solid fa-truck-field me-2"></i>
              <span>Fornecedores</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a
          class="d-flex align-items-center justify-content-between nav-link px-3 collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#submenuFinancialDesktop"
          *ngIf="
            hasAuthority('PAYABLE_READ') ||
            hasAuthority('METHODS_READ') ||
            hasAuthority('FREQUENCY_READ') ||
            hasAuthority('FINANCIAL_SETTINGS_READ')
          "
        >
          <span class="d-flex align-items-center">
            <i class="fa-solid fa-coins me-2"></i>
            <span>Financeiro</span>
          </span>

          <span>
            <i class="fa-solid fa-caret-right submenu-toggle-icon closed"></i>
            <i class="fa-solid fa-caret-down submenu-toggle-icon open"></i>
          </span>
        </a>

        <ul
          class="treeview-menu collapse list-unstyled mb-0"
          id="submenuFinancialDesktop"
        >
          <li>
            <a
              routerLink="/payables"
              routerLinkActive="active"
              class="d-flex align-items-center nav-link px-4"
              *ngIf="hasAuthority('PAYABLE_READ')"
            >
              <i class="fa-solid fa-file-invoice me-2"></i>
              <span>Contas a pagar</span>
            </a>
          </li>
          <li>
            <a
              routerLink="/payment-methods"
              routerLinkActive="active"
              class="d-flex align-items-center nav-link px-4"
              *ngIf="hasAuthority('METHODS_READ')"
            >
              <i class="fa-solid fa-credit-card me-2"></i>
              <span>Formas de pagamento</span>
            </a>
          </li>
          <li>
            <a
              routerLink="/payment-frequencies"
              routerLinkActive="active"
              class="d-flex align-items-center nav-link px-4"
              *ngIf="hasAuthority('FREQUENCY_READ')"
            >
              <i class="fa-solid fa-calendar-days me-2"></i>
              <span>Frequências de pagamento</span>
            </a>
          </li>
          <li>
            <a
              routerLink="/financial-settings"
              routerLinkActive="active"
              class="d-flex align-items-center nav-link px-4"
              *ngIf="hasAuthority('FINANCIAL_SETTINGS_READ')"
            >
              <i class="fa-solid fa-sliders me-2"></i>
              <span>Configurações financeiras</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
