<aside id="sidebarOffcanvas" class="sidebar offcanvas-md offcanvas-start d-flex flex-column" tabindex="-1"
  aria-labelledby="sidebarOffcanvasLabel">
  <div class="sidebar-header">
    <div class="d-flex align-items-center w-100">
      <div class="system-icon me-2">
        <i [ngClass]="systemSettingService.systemIcon"
          [class.fa-brands]="systemSettingService.systemIcon === 'fa-playstation' || systemSettingService.systemIcon === 'fa-xbox'"
          [class.fa-solid]="systemSettingService.systemIcon !== 'fa-playstation' && systemSettingService.systemIcon !== 'fa-xbox'" aria-hidden="true"></i>
      </div>

      <div class="system-name" id="sidebarOffcanvasLabel">{{ systemSettingService.systemName }}</div>
    </div>
  </div>

  <nav class="sidebar-nav flex-grow-1">
    <ul class="sidebar-menu list-unstyled mb-0">
      <li class="header">
        <span class="header-chip">MENU NAVEGAÇÃO</span>
      </li>

      <li class="treeview">
        <a routerLink="/home" routerLinkActive="active" class="d-flex align-items-center nav-link px-3">
          <i class="fa-solid fa-house me-2"></i>
          <span>Home</span>
        </a>
      </li>

      <li class="treeview">
        <a routerLink="/customers" routerLinkActive="active" class="d-flex align-items-center nav-link px-3">
          <i class="fa-solid fa-id-card me-2"></i>
          <span>Clientes</span>
        </a>
      </li>

      <li class="treeview">
        <a class="d-flex align-items-center justify-content-between nav-link px-3 collapsed" data-bs-toggle="collapse"
          data-bs-target="#submenuAdministracaoDesktop">
          <span class="d-flex align-items-center">
            <i class="fa-solid fa-user-shield me-2"></i>
            <span>Administração</span>
          </span>

          <span>
            <i class="fa-solid fa-caret-right submenu-toggle-icon closed"></i>
            <i class="fa-solid fa-caret-down submenu-toggle-icon open"></i>
          </span>
        </a>

        <ul class="treeview-menu collapse list-unstyled mb-0" id="submenuAdministracaoDesktop">
          <li>
            <a routerLink="/users" routerLinkActive="active" class="d-flex align-items-center nav-link px-4">
              <i class="fa-solid fa-user me-2"></i>
              <span>Usuários</span>
            </a>
          </li>
          <li>
            <a routerLink="/roles" routerLinkActive="active" class="d-flex align-items-center nav-link px-4">
              <i class="fa-solid fa-user-shield me-2"></i>
              <span>Perfis</span>
            </a>
          </li>
        </ul>

        
      </li>

            <li class="treeview">
        <a class="d-flex align-items-center justify-content-between nav-link px-3 collapsed" data-bs-toggle="collapse"
          data-bs-target="#submenuOrganizationDesktop">
          <span class="d-flex align-items-center">
            <i class="fa-solid fa-user-shield me-2"></i>
            <span>Organização</span>
          </span>

          <span>
            <i class="fa-solid fa-caret-right submenu-toggle-icon closed"></i>
            <i class="fa-solid fa-caret-down submenu-toggle-icon open"></i>
          </span>
        </a>

        <ul class="treeview-menu collapse list-unstyled mb-0" id="submenuOrganizationDesktop">
          <li>
            <a routerLink="/customers" routerLinkActive="active" class="d-flex align-items-center nav-link px-4">
              <i class="fa-solid fa-user-shield me-2"></i>
              <span>Clientes</span>
            </a>
          </li>
        </ul>

        
      </li>
    </ul>
  </nav>
</aside>
