<div class="global-table-card">
  <div class="table-toolbar" *ngIf="showColumnsButton || showExportButton">
    <button
      *ngIf="showColumnsButton"
      pButton
      type="button"
      class="p-button-rounded p-button-text"
      icon="pi pi-cog"
      pTooltip="Personalizar colunas"
      tooltipPosition="left"
      (click)="openColumns()"
    ></button>

    <app-excel-export
      *ngIf="showExportButton"
      [title]="exportTitle"
      [fileName]="exportFileName"
      [fields]="columns"
      [pagination]="exportPagination"
      [totalRecords]="totalRecords"
      [loadRecords]="exportLoadRecords"
    ></app-excel-export>
  </div>

  <p-table
    #table
    styleClass="global-table"
    [value]="records"
    [selection]="selectedRecords"
    (selectionChange)="changeSelection($event)"
    [dataKey]="dataKey"
    [loading]="loading"
    [paginator]="true"
    [rows]="rows"
    [lazy]="true"
    [totalRecords]="totalRecords"
    responsiveLayout="stack"
    breakpoint="991px"
    (onLazyLoad)="load($event)"
    (onRowSelect)="select($event)"
    (onRowUnselect)="unselect($event)"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="selection-column">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>

        <ng-container *ngFor="let column of columns">
          <th *ngIf="column.sortable" [pSortableColumn]="column.field">
            {{ column.label }}
            <p-sortIcon [field]="column.field"></p-sortIcon>
          </th>

          <th *ngIf="!column.sortable">
            {{ column.label }}
          </th>
        </ng-container>

        <th *ngIf="actionsTemplate" class="actions-column">Ações</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-record>
      <tr [ngClass]="{ 'row-inactive': record.active === false }">
        <td class="selection-column">
          <p-tableCheckbox [value]="record"></p-tableCheckbox>
        </td>

        <td *ngFor="let column of columns">
          <span class="p-column-title">{{ column.label }}:</span>

          <span *ngIf="!hasTemplate(column.field)">
            {{ getFieldValue(record, column.field) }}
          </span>

          <ng-container
            *ngIf="hasTemplate(column.field)"
            [ngTemplateOutlet]="getTemplate(column.field)"
            [ngTemplateOutletContext]="{ $implicit: record }"
          ></ng-container>
        </td>

        <td *ngIf="actionsTemplate" class="actions-cell">
          <span class="p-column-title">Ações:</span>
          <ng-container
            [ngTemplateOutlet]="actionsTemplate"
            [ngTemplateOutletContext]="{ $implicit: record }"
          ></ng-container>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td
          class="empty-message"
          [attr.colspan]="columns.length + (actionsTemplate ? 2 : 1)"
        >
          {{ emptyMessage }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
