<header class="module-page-header">
    <div><span class="module-page-eyebrow">ADMINISTRAÇÃO</span>
        <h1>Usuários</h1>
        <p>Consulte e gerencie os usuários do sistema.</p>
    </div>
    <div class="module-page-header-icon"><i class="fa-solid fa-user"></i></div>
</header>

<div class="user-filter-container">
    <div class="user-actions-group">
        <a routerLink="/users/create" class="action-link">
            <button class="btn btn-primary text-white btn-crud-action">
                NOVO USUÁRIO
            </button>
        </a>

        <button *ngIf="selectedUserIds.length > 0" class="btn btn-danger text-white btn-crud-action" type="button"
            (click)="deleteSelectedUsers()">
            EXCLUIR USUÁRIOS
        </button>
    </div>

    <app-name-filter text="Digite o nome do usuário" (search)="searchUser($event)"></app-name-filter>
</div>

<ng-template #photoTemplate let-user>
    <ng-container *ngIf="photoMap[user.id!]; else noPhoto">
        <img class="user-photo" [src]="photoMap[user.id!]" alt="Foto do usuário" />
    </ng-container>

    <ng-template #noPhoto>
        <div class="profile-photo-placeholder">
            <span class="profile-photo-icon">👤</span>
        </div>
    </ng-template>
</ng-template>

<ng-template #actionsTemplate let-user>
    <div class="actions-wrap">
        <a pButton class="p-button-rounded p-button-text" icon="pi pi-pencil" pTooltip="Editar usuário"
            tooltipPosition="top" [routerLink]="['/users/', user.id, 'edit']"></a>

        <button pButton class="p-button-rounded p-button-text p-button-danger" icon="pi pi-trash"
            pTooltip="Excluir usuário" tooltipPosition="top" (click)="delete(user)"></button>

        <button pButton class="p-button-rounded p-button-text p-button-warning"
            [icon]="user.active ? 'pi pi-ban' : 'pi pi-check'" pTooltip="Ativar / Desativar Usuário"
            tooltipPosition="top" (click)="toggleActive(user)"></button>

    </div>
</ng-template>

<app-data-table #userTable [records]="users" [columns]="tableColumns" [selectedRecords]="selectedUsers"
    [totalRecords]="totalElements" [rows]="pagination.linesPerPage" [loading]="loading"
    [columnTemplates]="{ photo: photoTemplate }" [actionsTemplate]="actionsTemplate"
    emptyMessage="Nenhum usuário encontrado." (lazyLoad)="changePage($event)"
    (selectedRecordsChange)="onSelectionChange($event)"></app-data-table>