<div class="receivable-form-container">
  <div class="receivable-card">
    <form #receivableForm="ngForm" (ngSubmit)="save(receivableForm)">
      <div class="col-12 mb-3">
        <h1>Dados da Conta a Receber</h1>
      </div>

      <div class="row g-3 receivable-form-inputs">
        <div class="col-12 col-lg-6">
          <label class="form-label-custom">Descrição *</label>
          <input
            pInputText
            type="text"
            name="description"
            [(ngModel)]="receivable.description"
            #description="ngModel"
            placeholder="Descrição"
            required
            minlength="3"
            maxlength="120"
            class="form-control"
          />

          <app-message
            [control]="description"
            error="required"
            text="Informe a descrição da conta"
          ></app-message>

          <app-message
            [control]="description"
            error="minlength"
            text="Mínimo de {{
              description.errors?.['minlength']?.requiredLength
            }} caracteres. Você digitou apenas {{
              description.errors?.['minlength']?.actualLength
            }}"
          ></app-message>
        </div>

        <div class="col-12 col-lg-3" *ngIf="receivable.parentReceivableId">
          <label class="form-label-custom">Valor original</label>
          <input
            type="text"
            class="form-control"
            [value]="receivable.originalAmount | currency: 'BRL'"
            readonly
          />
        </div>

        <div class="col-12 col-lg-3">
          <label class="form-label-custom"
            >{{
              receivable.parentReceivableId ? "Valor da parcela" : "Valor"
            }}
            *</label
          >
          <p-inputNumber
            [(ngModel)]="receivable.amount"
            name="amount"
            #amount="ngModel"
            mode="currency"
            currency="BRL"
            locale="pt-BR"
            class="receivable-amount-control"
            styleClass="receivable-amount-input"
            [minFractionDigits]="2"
            [maxFractionDigits]="2"
            [required]="true"
            [min]="0.01"
          ></p-inputNumber>

          <app-message
            [control]="amount"
            error="required"
            text="Informe o valor da conta"
          ></app-message>

          <app-message
            [control]="amount"
            error="min"
            text="O valor deve ser maior que zero"
          ></app-message>
        </div>

        <div class="col-12 col-lg-3">
          <label class="form-label-custom">Cliente *</label>
          <select
            name="customerId"
            [(ngModel)]="receivable.customerId"
            #customerId="ngModel"
            required
            class="form-control"
          >
            <option [ngValue]="null">Selecione um cliente</option>
            <option *ngFor="let customer of customers" [ngValue]="customer.id">
              {{ customer.name }}
            </option>
          </select>

          <app-message
            [control]="customerId"
            error="required"
            text="Informe o cliente"
          ></app-message>
        </div>

        <div class="col-12 col-lg-3">
          <label class="form-label-custom">Vencimento *</label>
          <input
            type="date"
            name="dueDate"
            [(ngModel)]="receivable.dueDate"
            #dueDate="ngModel"
            required
            class="form-control"
          />

          <app-message
            [control]="dueDate"
            error="required"
            text="Informe o vencimento"
          ></app-message>
        </div>

        <div class="col-12 col-lg-3">
          <label class="form-label-custom">Recebido Em</label>
          <input
            type="date"
            name="paymentDate"
            [(ngModel)]="receivable.paymentDate"
            class="form-control"
          />
        </div>

        <div class="col-12 col-lg-3">
          <label class="form-label-custom">Forma de recebimento</label>
          <select
            name="paymentMethodId"
            [(ngModel)]="receivable.paymentMethodId"
            class="form-control"
          >
            <option [ngValue]="null">Selecione uma forma de recebimento</option>
            <option *ngFor="let method of paymentMethods" [ngValue]="method.id">
              {{ method.name }}
            </option>
          </select>
        </div>

        <div class="col-12 col-lg-3">
          <label class="form-label-custom">Frequência</label>
          <select
            name="paymentFrequencyId"
            [(ngModel)]="receivable.paymentFrequencyId"
            class="form-control"
          >
            <option [ngValue]="null">Selecione uma frequência</option>
            <option
              *ngFor="let frequency of paymentFrequencies"
              [ngValue]="frequency.id"
            >
              {{ frequency.frequency }}
            </option>
          </select>
        </div>

        <div class="col-12 col-lg-6">
          <label class="form-label-custom">Observações</label>
          <textarea
            name="note"
            [(ngModel)]="receivable.note"
            placeholder="Observações"
            class="form-control"
            rows="1"
          ></textarea>
        </div>

        <div class="col-12 col-lg-6">
          <label class="form-label-custom">Arquivo</label>
          <input
            type="file"
            name="file"
            (change)="onFileSelected(fileInput)"
            #fileInput
            class="form-control receivable-file-input"
          />
        </div>
      </div>

      <div class="receivable-form-buttons mt-4">
        <button
          type="submit"
          [disabled]="receivableForm.invalid"
          class="btn btn-primary receivable-form-button"
        >
          SALVAR
        </button>

        <a routerLink="/receivables/">
          <button
            type="button"
            class="btn btn-outline-danger receivable-form-button"
          >
            CANCELAR
          </button>
        </a>
      </div>
    </form>
  </div>
</div>
